
.header {
    margin-top: 40px;
    padding-left: 55px;
    height: 96px;    
    display: flex;
    align-items: center;    
    width: 100%; 
    margin-bottom: 250px;
    position: relative;
}

.burger-menu {
    display: none;
}

.line {
    background: rgba(255, 255, 255, 0.25); 
    height: 1px;
    left: 140px;    
    position: absolute;
    right: 800px;
    z-index: 1;
}

.nav {
    display: flex;
    align-items: flex-end;    
    justify-content: center;
    position: absolute;
    right: 0;
    width: 830px;
    height: inherit;
}

.nav-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    position: absolute;
    width: 542px;
    z-index: 1;
}

.nav-list li {
    position: relative;
    padding-bottom: 36px;
    width: min-content;
}

.nav-list a {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.nav-list a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;   
    transform: translateX(-50%); 
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: width 0.5s ease-in-out, transform 0.5s ease-in-out;
    box-shadow: 0 0 8px #fff, 0 0 16px #fff, 0 0 32px #fff;
}

.nav-list a:hover::after {
    width: 100%;
    transform: translateX(-50%) scaleX(1);
}

.nav-list a span {
    padding-right: 12px;
    font-weight: 700;
}

.nav-bg {
    background-color: rgba(255, 255, 255, 0.04);      
    backdrop-filter: blur(40px);    
    height: 100%;
    position: absolute;
    /* left: 0;
    right: 0; */
    width: 100%;
}

.bg-home {
    background: url(../assets/img/bg/bg-home.jpg) center / cover no-repeat;
}

.bg-pages {  
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
}

.main {
    padding-right: 55px;
    padding-left: 55px;
    padding-bottom: 130px;
}

.content-home,
.content-planet {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    row-gap: 156px;
    column-gap: 386px;
}

.content-planet {
    column-gap: 106px;
    row-gap: 119px;
}

.content-space {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.content-space h1 {
    color: #D0D6F9;
    font-size: 28px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 4.72px;
}

.content-space span {
    color: white;
    font-size: 150px;
    font-family: 'Bellefair', serif;
    font-weight: 400;
}

.content-space p {
    color: #D0D6F9;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    line-height: 32px;
}

.content-explore a>div {
    width: 274px;
    height: 274px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-explore a>div span {
    color: #0B0D17;
    font-size: 32px;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div>.explore__scale {
    width: 274px;
    height: 274px;
    border-radius: 50%;
    transition: all 0.7s ease 0s;
}

.explore__scale {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.10);
    transform: scale(1, 1);
}

.explore__scale:hover {
    transform: scale(1.6, 1.6);
}
